// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600);

// Variables & Additional Sheets
@import "variables";
@import "modal";

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

//Fonts
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";

body {
    font-family: $font-family-sans-serif;
}
.row {
    margin-top: 2.5%;
}

.btn {
    // font-family: $font-family-sans-serif;
}
a.btn.btn-link {
    font-size: 12px;
}
.welcome {
    color: #636b6f;
    font-weight: 100;
    margin-top: 25%;
    text-align: center;

}

.welcome_title {
    font-size: 64px;
    margin-bottom: 2.5%;
}

.welcome_link > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-tabs {
    display: block;
    border-bottom: none !important;
}
a.nav-link {
    border: none !important;
    color: #464a4c;
}

.card .form-control .form-group {
    // font-family: "Raleway", sans-serif !important;
    font-size: 1rem;
    font-weight: normal;
    color: #292b2c;
}
.form-control {
    // font-family: "Raleway", sans-serif !important;
    font-size: 1rem;
    font-weight: normal;
    color: #292b2c;
}
label {
    // font-family: "Raleway", sans-serif !important;
    font-size: 1rem;
    font-weight: normal;
    color: #292b2c;
}

.card-block.dashboard li {
    list-style: none;
}

.projectCardBlock {
    list-style: none;
}