// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600);
// Variables
@import "variables";
// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";


.row {
    margin-top: 2.5%;
}

a.btn.btn-link {
    font-size: 12px;
}
.welcome {
    color: #636b6f;
    font-weight: 100;
    margin-top: 25%;
    text-align: center;

}

.welcome_title {
    font-size: 64px;
    margin-bottom: 2.5%;
}

.welcome_link > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-tabs {
    display: block;
    border-bottom: none !important;
}
a.nav-link {
    border: none !important;
    color: #464a4c;
}